.DS_Store
/HW1.X/nbproject/private/
/HW1.X/build/default/
/HW1.X/dist/default/
/HW4.X/nbproject/private/
/HW4.X/build/default/
/HW4.X/dist/default/
/HW5.X/nbproject/private/
/HW5.X/build/default/
/HW5.X/dist/default/
/HW6.X/nbproject/private/
/HW6.X/build/default/
/HW8/firmware/HW8.X/nbproject/private/
/HW8.X/nbproject/private/
/HW6.X/dist/default/
/HW7.X/nbproject/private/
/HW7.X/build/default/
/HW7.X/dist/default/
/HW8.X/build/default/
/HW8.X/dist/default/
/HW8/firmware/HW8.X/build/default/
/HW8/firmware/HW8.X/dist/default/
/HW9/firmware/HW9.X/nbproject/private/
/HW9/firmware/HW9.X/build/default/
/HW9/firmware/HW9.X/dist/default/
/HW11/firmware/HW11.X/nbproject/private/
/HW11/firmware/HW11.X/build/default/
/HW11/firmware/HW11.X/dist/default/
/HW10/firmware/HW10.X/nbproject/private/
/HW10/firmware/HW10.X/build/default/
/HW10/firmware/HW10.X/dist/default/
/HW14pic/firmware/HW14pic.X/nbproject/private/
/HW14pic/firmware/HW14pic.X/build/default/
/HW14pic/firmware/HW14pic.X/dist/default/
/HW18/firmware/HW18.X/nbproject/private/
/HW18/firmware/HW18.X/build/default/
/HW18/firmware/HW18.X/dist/default/
/HW20pic/firmware/HW20pic.X/nbproject/private/
/HW20pic/firmware/HW20pic.X/build/default/
/HW20pic/firmware/HW20pic.X/dist/default/